{% extends 'admin.html.twig' %}

{% block title %}Mails
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-faded-info-vertical border-radius-lg pt-4 pb-3">
						<h6 class="text-white text-capitalize ps-3">Messagerie</h6>
						<p class="text-white ps-3">Liste des mails reçu</p>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom et prénoms</th>
									<th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Objet</th>
									<th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
									
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for mail in mails %}
								<tr>
									<td>
										<div class="d-flex px-2 py-1">
											<div class="d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-sm">{{mail.user}}</h6>
											</div>
										</div>
									</td>

									<td>
										<p class="text-sm text-secondary mb-0">{{mail.userMail}}</p>
									</td>
									
									<td class="align-middle text-left">
										<span class="text-secondary text-sm font-weight-bold">{{mail.title}}</span>
									</td>

									<td>
										<p class="text-sm text-secondary mb-0">{{mail.createTime|date("d-m-Y")}}</p>
									</td>
									
									<td class="align-middle">
										{# <a href="#" class="btn bg-gradient-info my-4 mb-2"><i class="material-icons opacity-10">info</i></a> #}

										<a href="{{ path('admin_mail_info', { 'id': mail.id }) }}" class="btn btn-sm bg-secondary text-light">Info</a>
									</td>
								</tr>
								{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
