{% extends 'custom-layout-fr.html.twig' %}

{% block title %}Demande de devis
{% endblock %}

{% block content %}

<div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <a href="https://gfi-co.net">
                                    <img src="{{ asset('assets-custom/layouts/layout3/img/logo-gfico.png') }}" alt="logo" class="logo-default"
                                         style="position: relative;top:-40px;">
                                </a>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">
                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-home', { 'lang': 'fr' }) }}"> ACCUEIL
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-about', { 'lang': 'fr' }) }}"> NOTRE ENTREPRISE
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-prestations', { 'lang': 'fr' }) }}"> NOS SERVICES
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-project-grid', { 'lang': 'fr' }) }}"> NOS RÉALISATIONS
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-article_paged', { 'lang': 'fr', 'page': 1 }) }}"> MÉDIAS
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="false" class="menu-dropdown classic-menu-dropdown ">
                                        <!-- active -->
                                        <a href="{{ path('gfi-contact', { 'lang': 'fr' }) }}"> INFOLINE
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <div class="page-head">
                            <div class="container">
                                <!-- BEGIN PAGE TITLE -->
                                <div class="page-title">
                                    <h1>Estimez votre projet</h1>
                                </div>
                                <!-- END PAGE TITLE -->
                                <!-- BEGIN PAGE TOOLBAR -->
                                <div class="page-toolbar">
                                </div>
                                <!-- END PAGE TOOLBAR -->
                            </div>
                        </div>
                        <!-- END PAGE HEAD-->


                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE BREADCRUMBS -->
                                <ul class="page-breadcrumb breadcrumb">
                                    <li>
                                        <a href="https://gfi-co.net">Accueil</a>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span>Estimez votre projet</span>
                                    </li>
                                </ul>
                                <!-- END PAGE BREADCRUMBS -->
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light " id="form_wizard_1">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class=" icon-layers font-red"></i>
                                                        <span
                                                            class="caption-subject font-wizodia-orange bold uppercase">
                                                            Devis estimatif -
                                                            <span class="step-title"> Etape 1 sur 4 </span>
                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="portlet-body form">
                                                    <form class="form-horizontal" method="POST" action="{{ path('gfi-devis', { 'lang': 'fr' }) }}" id="submit_form"
                                                        method="POST">
                                                        <div class="form-wizard">
                                                            <div class="form-body">
                                                                <div class="mt-element-step bg-dark">
                                                                    <div class="row step-line bg-dark">
                                                                        <ul
                                                                            class="nav nav-pills nav-justified steps hidden-xs bg-dark">
                                                                            <li>
                                                                                <a href="#tab1" data-toggle="tab"
                                                                                    class="step active"
                                                                                    style="padding:0px">
                                                                                    <div class="col-md-12 mt-step-col first active"
                                                                                        id="navStep1">
                                                                                        <!-- done -->
                                                                                        <div
                                                                                            class="mt-step-number  font-grey">
                                                                                            1</div>
                                                                                        <div
                                                                                            class="mt-step-title uppercase font-grey-cascade">
                                                                                            Terrain</div>
                                                                                        <div
                                                                                            class="mt-step-content font-grey-cascade">
                                                                                            Type de maison</div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#tab2" data-toggle="tab"
                                                                                    class="step" style="padding:0px">
                                                                                    <div class="col-md-12 mt-step-col">
                                                                                        <div
                                                                                            class="mt-step-number font-grey">
                                                                                            2</div>
                                                                                        <div
                                                                                            class="mt-step-title uppercase font-grey-cascade">
                                                                                            Budget</div>
                                                                                        <div
                                                                                            class="mt-step-content font-grey-cascade">
                                                                                            Délai</div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#tab3" data-toggle="tab"
                                                                                    class="step" style="padding:0px">
                                                                                    <div class="col-md-12 mt-step-col">
                                                                                        <div
                                                                                            class="mt-step-number font-grey">
                                                                                            3</div>
                                                                                        <div
                                                                                            class="mt-step-title uppercase font-grey-cascade">
                                                                                            Ville</div>
                                                                                        <div
                                                                                            class="mt-step-content font-grey-cascade">
                                                                                            Localisation</div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>


                                                                            <li>
                                                                                <a href="#tab4" data-toggle="tab"
                                                                                    class="step" style="padding:0px">
                                                                                    <div class="col-md-12 mt-step-col last"
                                                                                        id="lastStep">
                                                                                        <div
                                                                                            class="mt-step-number font-grey">
                                                                                            4</div>
                                                                                        <div
                                                                                            class="mt-step-title uppercase font-grey-cascade">
                                                                                            Validation</div>
                                                                                        <div
                                                                                            class="mt-step-content font-grey-cascade">
                                                                                            Envoi</div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>




                                                                <div id="bar" class="progress progress-striped"
                                                                    role="progressbar">
                                                                    <!--<div class="progress-bar progress-bar-success"> </div>-->
                                                                </div>
                                                                <div class="tab-content">
                                                                    <div class="alert alert-danger display-none">
                                                                        <button class="close"
                                                                            data-dismiss="alert"></button> Vous devez
                                                                        correctement remplir le formulaire.
                                                                    </div>
                                                                    <div class="alert alert-success display-none">
                                                                        <button class="close"
                                                                            data-dismiss="alert"></button> Your form
                                                                        validation is successful!
                                                                    </div>
                                                                    <div class="tab-pane active" id="tab1">
                                                                        <h3 class="block">Terrain</h3>
                                                                        <div class="form-group">
                                                                            <label
                                                                                class="control-label col-md-3">Avez-vous
                                                                                un terrain ?</label>
                                                                            <div class="col-md-4">
                                                                                <select name="dejaTerrain"
                                                                                    id="dejaTerrain"
                                                                                    class="form-control">
                                                                                    <option value="oui">Oui</option>
                                                                                    <option value="non" selected>Non
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label
                                                                                class="control-label col-md-3">Combien
                                                                                de pièces souhaitez-vous ?</label>
                                                                            <div class="col-md-4">
                                                                                <select name="typeMaison"
                                                                                    id="typeMaison"
                                                                                    class="form-control">
                                                                                    <option value="3 pieces">3 pièces</option>
                                                                                    <option value="4 pieces">4 pièces</option>
                                                                                    <option value="5 pieces">5 pièces</option>
                                                                                    <option value="6 pieces">6 pièces</option>
                                                                                    <option value="plus 6 pieces">Plus de 6 pièces
                                                                                    </option>
                                                                                    <option value="moins de 3 pieces">Moins de 3 pièces
                                                                                    </option>
                                                                                    <option value="indifferent">indifférent
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <div class="tab-pane" id="tab2">
                                                                        <h3 class="block">Votre budget</h3>
                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-3"
                                                                                id="labelBudget">Devise</label>
                                                                            <div class="col-md-4">
                                                                                <select name="devise" id="deviseBudget"
                                                                                    class="form-control">
                                                                                    <option value="cfa">CFA (XOF)
                                                                                    </option>
                                                                                    <option value="euro">EURO (EUR)
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-3"
                                                                                id="labelBudget">Budget terrain + maison
                                                                                ?</label>
                                                                            <div class="col-md-4">
                                                                                <select name="budget" id="budget_list_xof"
                                                                                    class="form-control">
                                                                                    <option value=""></option>
                                                                                    <option value="Moins de 45 millions">Moins de 45 millions
                                                                                    </option>
                                                                                    <option value="45 à 60 millions">45 millions à 60 millions
                                                                                    </option>
                                                                                    <option value="60 à 75 millions">60 millions à 75 millions 
                                                                                    </option>
                                                                                    <option value="75 à 100 millions">75 millions à 100 millions 
                                                                                    </option>
                                                                                    <option value="Plus de 100 millions">Plus de 100 millions
                                                                                    </option>
                                                                                </select>
                                                                                
                                                                                <select name="budget" id="budget_list_eur"
                                                                                    class="form-control" style="display: none;">
                                                                                    <option value=""></option>
                                                                                    <option value="Moins de 70.000€">Moins de 70.000€
                                                                                    </option>
                                                                                    <option value="70.000€ à 90.000€">70.000€ à 90.000€
                                                                                    </option>
                                                                                    <option value="90.000€ à 115.000€">90.000€ à 115.000€ 
                                                                                    </option>
                                                                                    <option value="115.000€ à 150.000€">115.000€ à 150.000€ 
                                                                                    </option>
                                                                                    <option value="Plus de 150.000€">Plus de 150.000€
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-3">Date
                                                                                de début prévisionnelle :</label>
                                                                            <div class="col-md-4">
                                                                                <select name="debutTravaux"
                                                                                    id="debutTravaux_list"
                                                                                    class="form-control">
                                                                                    <option value=""></option>
                                                                                    <option value="Moins de 3 mois">Moins de 3 mois
                                                                                    </option>
                                                                                    <option value="3 à 6 mois">3 à 6 mois
                                                                                    </option>
                                                                                    <option value="Plus de 6 mois">Plus de 6 mois
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <div class="tab-pane" id="tab3">
                                                                        <h3 class="block">Localisation de votre projet
                                                                        </h3>
                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-3">Pays
                                                                                :</label>
                                                                            <div class="col-md-4">
                                                                                <select name="pays" id="pays_list"
                                                                                    class="form-control">
                                                                                    <option value=""></option>
                                                                                    <option value="BF">Burkina Faso</option>
                                                                                    <option value="CI">Côte d'Ivoire</option>
                                                                                    <option value="GN">Guinée</option>
                                                                                    <option value="ML">Mali</option>
                                                                                    <option value="SN">Sénégal </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <!-- <div class="form-group">
                                                                            <label class="control-label col-md-3">Région
                                                                                :</label>
                                                                            <div class="col-md-4">
                                                                                <select name="region" id="region_list"
                                                                                    class="form-control">
                                                                                    <option value=""></option>
                                                                                </select>
                                                                            </div>
                                                                        </div> -->

                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-3">Ville
                                                                                :</label>
                                                                            <div class="col-md-4">
                                                                                <!-- <select name="ville" id="ville_list"
                                                                                    class="form-control">
                                                                                    <option value=""></option>
                                                                                </select> -->
                                                                                <input type="text" class="form-control" name="cityVille">
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="tab-pane" id="tab4">

                                                                        <h3 class="block">Validation</h3>
                                                                        <!--<h4 class="form-section">Déjà inscrit ?</h4>-->
                                                                        <div class="form-group">
                                                                            <p class="col-md-8 text-left">
                                                                                    Confirmer vos choix et soumettre le formulaire. <br>
                                                                                    Nos équipes prendront en charge votre dossier et vous répondront dans les meilleurs délais
                                                                            </p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="form-group col-md-6">
                                                                                <label class="control-label col-md-5">Nom et Prenoms:</label>
                                                                                <div class="col-md-7">
                                                                                    <input type="text" class="form-control" name="nometpnoms">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="form-group col-md-6">
                                                                                <label class="control-label col-md-5">Email:</label>
                                                                                <div class="col-md-7">
                                                                                    <input type="text" class="form-control" name="email">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="form-group col-md-6">
                                                                                <label class="control-label col-md-5">Contact:</label>
                                                                                <div class="col-md-7">
                                                                                    <input type="text" class="form-control" name="contact">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="form-actions col-md-6">
                                                                                <div class="row">
                                                                                    <div class="col-md-offset-5 col-md-6">
                                                                                        <input type="submit" name="validation" value="valider" class="btn blue btn-default" id="btnConnect">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        


                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions">
                                                                <div class="row">
                                                                    <div class="col-md-offset-3 col-md-9">
                                                                        <a href="javascript:;"
                                                                            class="btn default button-previous">
                                                                            <i class="fa fa-angle-left"></i> Retour </a>
                                                                        <a href="javascript:;"
                                                                            class="btn btn-outline wizodia-orange button-next">
                                                                            Suivant
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                        <a href="javascript:;"
                                                                            class="btn wizodia-orange button-submit">
                                                                            Valider
                                                                            <i class="fa fa-check"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->

                    </div>
                    <!-- END CONTENT -->

                </div>
                <!-- END CONTAINER -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    <script>
        $(document).ready(function() {
           //alert('Loaded');
           //devise
            $("#deviseBudget").change(function(){
                console.clear();
                //console.log('value', $(this).val());
                let currency = $(this).val();
                let xofSelect = $('#budget_list_xof');
                let eurSelect = $('#budget_list_eur');
                switch (currency) {
                    case 'cfa':
                        console.log('cfa');
                        eurSelect.hide();
                        xofSelect.show();
                        break;
                    case 'euro':
                        console.log('euro');
                        eurSelect.show();
                        xofSelect.hide();
                        break;
                    default:
                        console.log('Currency');
                        break;
                }
            });
        });
  </script>

{% endblock %}
