{% extends 'admin.html.twig' %}

{% block title %}Devis
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-faded-info-vertical border-radius-lg pt-4 pb-3">
						<h6 class="text-white text-capitalize ps-3">Demandes de devis</h6>
						<p class="text-white ps-3">Liste des demandes de devis reçues</p>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom et prénoms</th>
									<th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Adresse Géographique</th>
									<th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
									
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for d in devis %}
								<tr>
									<td>
										<div class="d-flex px-2 py-1">
											<div class="d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-sm">{{d.nom}}</h6>
											</div>
										</div>
									</td>

									<td>
										<p class="text-sm text-secondary mb-0">{{d.email}}</p>
									</td>
									
									<td class="align-middle text-left">
										<span class="text-secondary text-sm font-weight-bold">{{d.ville}} 
                                            {% if d.pays == 'CI' %}
                                                Côte d'Ivoire
                                            {% elseif d.pays == 'BF' %}
                                                Burkina Faso
                                            {% elseif d.pays == 'GN' %}
                                                Guinée
                                            {% elseif d.pays == 'ML' %}
                                                Mali
                                            {% elseif d.pays == 'SN' %}
                                                Sénégal
                                            {% endif %}
                                        </span>
									</td>

									<td>
										<p class="text-sm text-secondary mb-0">{{d.create_time|date("d-m-Y")}}</p>
									</td>
									
									<td class="align-middle">
										{# <a href="#" class="btn bg-gradient-info my-4 mb-2"><i class="material-icons opacity-10">info</i></a> #}

										<a href="{{ path('admin_devis_info', { 'id': d.id }) }}" class="btn btn-sm bg-secondary text-light">
                                            <img src="{{ asset('assets-admin/img/icons/glyph/information.png') }}"/>
                                        </a>
									</td>
								</tr>
								{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
