{% extends 'layout-fr.html.twig' %}

{% block title %}News
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ asset('assets/images/page-titles/13.jpg')}} " alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <h1 class="pagetitle__heading">Actualités</h1>
        </div>
      </div>
    </div>
  </section>
      
  <section class="blog-carousel pt-20 pb-50"> 
    <div class="container">
        <br><br>

        <div class="row">
         {% for a in articles %}
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post-item__img">
                <a href="{{ path('gfi-article-info', { 'lang': lang, 'slug': a.slug }) }}">
                  <img style="height: 179px !important;width: 300px !important;" 
                       src="{{ asset('assets/uploads/articles/') }}{{a.picture}}" alt="blog image">
                </a>
                <div class="post-item__meta__cat">
                  <a href="#">{{a.category}}</a>
                </div>
              </div>
              <div class="post-item__content">
                <span class="post-item__meta__date">{{a.createTime|date("d-m-Y")}}</span>
                <h4 class="post-item__title">{{a.title|slice(0,31)}}...</a>
                </h4>
                <p class="post-item__desc" style="">
                  {{a.content|striptags|slice(0,133)|raw}}...
                </p>
                <a href="{{ path('gfi-article-info', { 'lang': lang, 'slug': a.slug }) }}" class="btn btn__secondary btn__link">
                  <i class="icon-arrow-right1"></i>
                  <span>Lire l'article</span>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <nav class="pagination-area">
            <ul class="pagination justify-content-center">
              {% if page > 1 %}
              <li>
                <a href="{{ path('gfi-article_paged', { 'lang': lang, 'page': page-1 }) }}">
                  <i class="icon-arrow-left1"></i>
                </a>
              </li>
              {% endif %}

              {% for p in 1..nbPages %}
                {% if p == page %}
                <li><a class="current" href="#">{{p}}</a></li>
                {% else %}
                <li>
                  <a href="{{ path('gfi-article_paged', { 'lang': lang, 'page': p }) }}">
                    {{p}}
                  </a>
                </li>
                {% endif %}
              {% endfor %}

              {% if page < nbPages %}
              <li>
                <a href="{{ path('gfi-article_paged', { 'lang': lang, 'page': page+1 }) }}">
                  <i class="icon-arrow-right1"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav><!-- .pagination-area -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.blog carousel -->

  <section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/page-titles/' ~ devisUrl) }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
            <a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}