{% extends 'layout-fr.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block content %}
	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">GFI-CO SARL</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 offset-lg-0">
					<div
						class="heading text-center mb-40">
						{# <span class="heading__subtitle">The Best A Grade Commercial & Residential Services</span> #}
						<h2 class="heading__title">Présentation vidéo GFI-CO SARL</h2>
					</div>
					<!-- /.heading -->
				</div>
				<!-- /.col-lg-8 -->
			</div>
			<div class="row">
				<video loop="true" controls muted style="width: 100%;margin: 0% 0% -10% 0% !important;">
					<source src="{{ asset('assets/videos/gfi-presentation-fr.mp4') }}" type="video/mp4">
				</video>
			</div>
		</div>
	</section>

	<section class="about-layout2 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about__img">
              <img src="{{ asset('assets/images/page-titles/21.jpg') }}" alt="about" class="img-fluid">
              <div class="cta-banner1">
                <h5 class="cta-banner__title">L'IMMOBILIER ÉCOLOGIQUE</h5>
                <p class="text-justify">En conformité avec les normes environnementales et les standards de référence en la matière, GFI-CO SARL est une entreprise immobilière dont la spécificité réside dans la construction et la promotion de maisons écologiques.</p>
                <p class="text-justify">Elle est Fondée en 2020 à travers une expertise de professionnels du métier.  Entre autres des financiers, des architectes, des ingénieurs, des juristes, des aménageurs fonciers et des notaires.</p>
              </div><!-- /.cta-banner -->
            </div><!-- /.about-img -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <section class="about-layout2 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about__img">
              <img src="{{ asset('assets/images/page-titles/19.jpg') }}" alt="about" class="img-fluid">
              <div class="cta-banner2">
                <h5 class="cta-banner__title">LEITMOTIV</h5>
                <p class="text-justify">
                    Les enjeux sont majeurs. GFI-CO SARL entend s’imposer comme leader du secteur à travers des offres exceptionnelles en tant que créateur, promoteur et bâtisseur.
                </p>
                <p class="text-justify">
                    L’optique étant de vous permettre d’être en équilibre dans votre cadre de vie grâce à des logements écologiques alliant esthétique, 
					confort, durabilité, économie d’énergie, le tout par des budgets personnalisés. 
					En termes d’investissement, GFI-CO SARL vous permet de rentabiliser sur le moyen et le long terme.
                </p>
              </div><!-- /.cta-banner -->
            </div><!-- /.about-img -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <section class="about-layout2 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about__img">
              <img src="{{ asset('assets/images/page-titles/18.jpg') }}" alt="about" class="img-fluid">
              <div class="cta-banner3">
                <h5 class="cta-banner__title">L'ÉCO RESPONSABILITÉ</h5>
                
                <p class="text-justify">
					GFI-CO SARL vous propose un éco habitat aux normes tridimensionnelles.
				</p>
				<p class="text-justify">
					Premièrement d’exceptionnels plans de conception et de conceptualisation par la construction de logements en parfaite symbiose avec le lieu d’implantation.
				</p>
				<p class="text-justify">
					Secondairement en prônant l’éco responsabilité par l’utilisation de matériaux non polluants. Évitant autant que possible la production d’énergie grise (énergie polluante).
				</p>
				<p class="text-justify">
					Enfin ,des maisons écologiques favorisant l’économie d’énergie via des systèmes alternatifs de production d’énergie chauffante, ou encore un système de panneau solaire.
				</p>
              </div><!-- /.cta-banner -->
            </div><!-- /.about-img -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <section class="about-layout2 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about__img">
              <img src="{{ asset('assets/images/page-titles/26.jpg') }}" alt="about" class="img-fluid">
              <div class="cta-banner4" style="max-width: 400px !important;">
                <h5 class="cta-banner__title">GFI-CO SARL, UN LABEL BIOSOURCÉ</h5>
                <p class="text-justify">
                    Dans une construction durable et écologique, le choix de matériaux locaux et biosourcés est primordial. 
					Une double opportunité alliant enjeux environnementaux et coût amoindri. 
					C’est d’ailleurs l’une des motivations premières de GFI-CO SARL concernant l’utilisation de brique de terre crue compressée stabilisée dite (BTC) pour ses réalisations. L’enjeu étant une grande efficacité énergétique ainsi qu’une moindre empreinte environnementale des bâtiments.
                </p>
                <p class="text-justify">
                    La BTC participe au développement durable bien qu’issue de l’utilisation de terre d’excavation ou de recyclage. 
					Sa plus grande force réside dans son faible impact environnemental.
                </p>
                
                <p class="text-justify">
                    Assemblage de modernisme et de tradition, la BTC présente surtout l’avantage d’avoir une très bonne inertie thermique. 
					Tout en offrant des caractéristiques acoustiques et hydriques inégalées, outre ses qualités esthétiques arborées par sa bonne résistance aux intempéries.
                </p>
              </div><!-- /.cta-banner -->
            </div><!-- /.about-img -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/section-bg/13.jpg') }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
            <a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="team-layout1 text-center  pb-30">
	<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/map.png') }}" alt="background"></div>
    <div class="container">
		<div class="heading-layout2 mb-20">
			<h3 class="heading__title">NOS COLLABORATEURS</h3>
		</div>
      <div class="row">
        <div class="col-md-12 text-center mb-30" style="font-size: 14pt"> 
          GFI-CO SARL bénéficie d’une efficacité professionnelle. Ce, grâce à la maestria d’une dynamique équipe à l’écoute du marché. Des professionnels du métier dont l’expertise repose sur des formations diverses. Un brassage de secteurs d’activités répondant aux besoins des clients.
        </div>
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4"> 
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/1.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="https://www.facebook.com/abdoulwahab.magassouba" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdoulwahabmagassouba/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Abdoul Wahab Magassouba</h5>
              <p class="member__desc">Manager Général & Fondateur</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/2.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mohammad Abou Diakité</h5>
              <p class="member__desc">Architecte / MAD Design</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #3 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/3.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Martin Fulgence Corréa</h5>
              <p class="member__desc">Recherche et Développement</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
      </div> <!-- /.row -->
	  <div class="row">
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/4.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Ephraïm Dolce</h5>
              <p class="member__desc">Directeur de la Communication</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/5a.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Aboubakar Podo Kamara</h5>
              <p class="member__desc">Ingénieur génie civil / CIT</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #3 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/6.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Yenin Fatou FOFANA</h5>
              <p class="member__desc">Manager de l’agence immobilière</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #3 -->
      </div> <!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Team layout 1  -->
{% endblock %}
