{% extends 'layout-en.html.twig' %}

{% block title %}About
{% endblock %}

{% block content %}
	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">GFI-CO SARL</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<div
						class="heading text-center mb-40">
						{# <span class="heading__subtitle">The Best A Grade Commercial & Residential Services</span> #}
						<h2 class="heading__title">GFI-CO SARL video presentation</h2>
					</div>
					<!-- /.heading -->
				</div>
				<!-- /.col-lg-8 -->
			</div>
			<div class="row">
				<video loop="true" controls muted style="width: 60%;margin: 0% 20% -10% 20% !important;">
					<source src="{{ asset('assets/videos/gfi-presentation-en.mp4') }}" type="video/mp4">
				</video>
			</div>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div1">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title">
							ECOLOGICAL REAL ESTATE
						</h3>
					</div>
					<p class="heading__desc mb-30 div1" style="font-size: 13pt">
						In accordance with ecological standards, GIF-CO SARL is a real estate company whose specificity is based on construction and ecological houses.
					</p>
					<p class="heading__desc div1" style="font-size: 13pt">
						It was created in 2020 through an expertise of professional workers such as financials, architects, engineers, lawyers, land developers and notaries.
					</p>

				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/3.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="work-process pb-50">
		<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/4.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div2">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title" style="color: aliceblue">
							LEITMOTIV
						</h3>
					</div>
					<p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
						Stakes are high. GIF-CO SARL aspires to become the leader of the sector by offering exceptional propositions as creator, instigator and builder. The vision is to permit you to be in peace in your living space.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						This is possible thanks to ecological accommodations which combine numerous advantages like esthetic, cosiness, sustainability, energy economy. All by personalized budgets. In terms of investment, GIF-CO SARL allows you to make a profit over the medium and long term.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/14.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div3">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title">
							ECOLOGICAL RESPONSIBILITY
						</h3>
					</div>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						GIF-CO SARL offers you a three dimensional ecological habitat.
					</p>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						First of all, exceptional conception and conceptualization plans by the construction of home in symbiosis with theirs emplacement.
					</p>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						Secondly, by promoting ecological responsibility by using non waste materials. Avoiding as far as possible pollutant energy.
					</p>
					<p class="heading__desc" style="font-size: 13pt">
						Finally, ecological houses allowing the economy of energy via alternatives systems of warming energy production or solar panel systems.
					</p>

				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/2.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/4.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="work-process pb-50">
		<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/6.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div4">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title" style="color: aliceblue">
							GIF-CO SARL, A BIOSOURCED LABEL
						</h3>
					</div>
					<p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
						In a sustainable and ecological building, the choice of local materials and biosourced is important. A double opportunity combining environmental stakes and reduced cost. It is one of the major GIF-CO SARL's motivations for the use of compressed raw earth brick stabilized (REB). The stake being high energy efficiency and a lower environmental footprint of buildings.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						REB is involved in sustainable development, from excavation or recycling soil. It's greatest strength is a lower impact on environment.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						Modernism and tradition assembly REB presents the advantage to have a really Good thermal inertia. While offering unparalleled acoustic and water characteristics in addition to its esthetic qualities sported by its good resistance to bad weather.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="team-layout1 text-center  pb-30">
  <div class="bg-img"><img src="{{ asset('assets/images/backgrounds/map.png') }}" alt="background"></div>
		<div class="container">
			<div class="heading-layout2 mb-20">
				<h3 class="heading__title">OUR TEAM</h3>
			</div>
			<div class="row">
				<div class="col-md-12 text-center mb-30" style="font-size: 14pt">
					GFI-CO SARL benefits from professional efficiency. This is thanks to the mastery of a dynamic team attentive to the market. Professionals in the trade whose expertise is based on various training courses. A mix of business sectors meeting customer needs.
				</div>
				<!-- Member #1 -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="member">
						<div class="member__img">
							<img src="{{ asset('assets/images/team/1.jpg') }}" alt="member img">
							<div class="member__hover">
								<div class="member__content-inner">
									<ul class="social__icons  justify-content-center list-unstyled mb-0">
										<li>
											<a href="https://www.facebook.com/abdoulwahab.magassouba" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/abdoulwahabmagassouba/" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
									<!-- /.social-icons -->
								</div>
								<!-- /.member-content-inner -->
							</div>
							<!-- /.member-hover -->
						</div>
						<!-- /.member-img -->
						<div class="member__info">
							<h5 class="member__name">Abdoul Wahab Magassouba</h5>
							<p class="member__desc">Founder and General Manager</p>
						</div>
						<!-- /.member-info -->
					</div>
					<!-- /.member -->
				</div>
				<!-- /.col-lg-4 -->
				<!-- Member #2 -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="member">
						<div class="member__img">
							<img src="{{ asset('assets/images/team/2.jpg') }}" alt="member img">
							<div class="member__hover">
								<div class="member__content-inner">
									<ul class="social__icons justify-content-center list-unstyled mb-0">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
									</ul>
									<!-- /.social-icons -->
								</div>
								<!-- /.member-content-inner -->
							</div>
							<!-- /.member-hover -->
						</div>
						<!-- /.member-img -->
						<div class="member__info">
							<h5 class="member__name">Mohammad Abou Diakité</h5>
							<p class="member__desc">Architect Engineer</p>
						</div>
						<!-- /.member-info -->
					</div>
					<!-- /.member -->
				</div>
				<!-- /.col-lg-4 -->
				<!-- Member #3 -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="member">
						<div class="member__img">
							<img src="{{ asset('assets/images/team/3.jpg') }}" alt="member img">
							<div class="member__hover">
								<div class="member__content-inner">
									<ul class="social__icons justify-content-center list-unstyled mb-0">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
									</ul>
									<!-- /.social-icons -->
								</div>
								<!-- /.member-content-inner -->
							</div>
							<!-- /.member-hover -->
						</div>
						<!-- /.member-img -->
						<div class="member__info">
							<h5 class="member__name">Martin Fulgence Corréa</h5>
							<p class="member__desc">Search and Developement</p>
						</div>
						<!-- /.member-info -->
					</div>
					<!-- /.member -->
				</div>
				<!-- /.col-lg-4 -->
			</div>
			<!-- /.row -->
			<div
				class="row">
				<!-- Member #1 -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="member">
						<div class="member__img">
							<img src="{{ asset('assets/images/team/4.jpg') }}" alt="member img">
							<div class="member__hover">
								<div class="member__content-inner">
									<ul class="social__icons justify-content-center list-unstyled mb-0">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
									</ul>
									<!-- /.social-icons -->
								</div>
								<!-- /.member-content-inner -->
							</div>
							<!-- /.member-hover -->
						</div>
						<!-- /.member-img -->
						<div class="member__info">
							<h5 class="member__name">Ephraïm Dolce</h5>
							<p class="member__desc">Communication Director</p>
						</div>
						<!-- /.member-info -->
					</div>
					<!-- /.member -->
				</div>
				<!-- /.col-lg-3 -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="member">
						<div class="member__img">
							<img src="{{ asset('assets/images/team/5a.jpg') }}" alt="member img">
							<div class="member__hover">
								<div class="member__content-inner">
									<ul class="social__icons  justify-content-center list-unstyled mb-0">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
									</ul>
									<!-- /.social-icons -->
								</div>
								<!-- /.member-content-inner -->
							</div>
							<!-- /.member-hover -->
						</div>
						<!-- /.member-img -->
						<div class="member__info">
							<h5 class="member__name">Kamara Podo</h5>
							<p class="member__desc">Building Engineer</p>
						</div>
						<!-- /.member-info -->
					</div>
					<!-- /.member -->
				</div>
				<!-- Member #2 -->
				<!-- /.col-lg-3 -->
				<!-- Member #3 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
	<!-- /.Team layout 1  -->
{% endblock %}

{% block script %}
	<script>
		$('.hidden p').hide();
console.clear();

function Utils() {}Utils.prototype = {
constructor: Utils,
isElementInView: function (element, fullyInView) {
var pageTop = $(window).scrollTop();
var pageBottom = pageTop + $(window).height();
var elementTop = $(element).offset().top;
var elementBottom = elementTop + $(element).height();

if (fullyInView === true) {
return((pageTop < elementTop) && (pageBottom > elementBottom));
} else {
return((elementTop <= pageBottom) && (elementBottom >= pageTop));
}
}
};
var Utils = new Utils();

function isScrolledIntoView(elem) {
var docViewTop = $(window).scrollTop();
var docViewBottom = docViewTop + $(window).height();
var elemTop = $(elem).offset().top;
var elemBottom = elemTop + $(elem).height();

return((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}


$(window).scroll(function () {
var div1 = Utils.isElementInView($('.div1'), false);
var div2 = Utils.isElementInView($('.div2'), false);
var div3 = Utils.isElementInView($('.div3'), false);
var div4 = Utils.isElementInView($('.div4'), false);

if (div1) {
$('.div1 p').fadeIn(2000);
}
if (div2) {
$('.div2 p').fadeIn(2000);
}
if (div3) {
$('.div3 p').fadeIn(2000);
}
if (div4) {
$('.div4 p').fadeIn(2000);
}

});
	</script>
{% endblock %}
