{% extends 'layout-fr.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ asset('assets/images/page-titles/1.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <h1 class="pagetitle__heading">GFI-CO SARL</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="about-layout2">
    <div class="container">
      <div class="row">
          <video loop="true" controls muted style="width: 60%;margin: 0% 20% -10% 20% !important;">
              <source src="{{ asset('assets/videos/gfi-presentation-fr.mp4') }}" type="video/mp4">
          </video>
      </div>
    </div>
  </section>

  <section class="about-layout2">
    <div class="container">
      
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading-layout2 mb-20">
            <h3 class="heading__title">
              L'IMMOBILIER ÉCOLOGIQUE
            </h3>
          </div>
          <p class="heading__desc mb-30" style="font-size: 13pt">
            En conformité avec les normes environnementales et les standards de référence en la matière, GFI-CO SARL est une entreprise immobilière dont la spécificité réside dans la construction et la promotion de maisons écologiques.
          </p>
          <p class="heading__desc" style="font-size: 13pt">
            Elle est Fondée en 2020 à travers une expertise de professionnels du métier.  Entre autres des financiers, des architectes, des ingénieurs, des juristes, des aménageurs fonciers et des notaires.
          </p>
          
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about__img">
            <img src="{{ asset('assets/images/about/3.jpg') }}" alt="about" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work-process pb-50">
    <div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about__img">
            <img src="{{ asset('assets/images/about/4.jpg') }}" alt="about" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading-layout2 mb-20">
            <h3 class="heading__title" style="color: aliceblue">
              LEITMOTIV
            </h3>
          </div>
          <p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
            Les enjeux sont majeurs. GFI-CO SARL entend s’imposer comme leader du secteur à travers des offres exceptionnelles en tant que créateur, promoteur et bâtisseur. 
          </p>
          <p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
            L’optique étant de vous permettre d’être en équilibre dans votre cadre de vie grâce à des logements écologiques alliant esthétique, 
            confort, durabilité, économie d’énergie, le tout par des budgets personnalisés. 
            En termes d’investissement, GFI-CO SARL vous permet de rentabiliser sur le moyen et le long terme. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="about-layout2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading-layout2 mb-20">
            <h3 class="heading__title">
              L'ÉCO RESPONSABILITÉ
            </h3>
          </div>
          <p class="heading__desc mb-20" style="font-size: 13pt">
            GFI-CO SARL vous propose un éco habitat aux normes tridimensionnelles.
          </p>
          <p class="heading__desc mb-20" style="font-size: 13pt">
            Premièrement d’exceptionnels plans de conception et de conceptualisation par la construction de logements en parfaite symbiose avec le lieu d’implantation.
          </p>
          <p class="heading__desc mb-20" style="font-size: 13pt">
            Secondairement en prônant l’éco responsabilité par l’utilisation de matériaux non polluants. Évitant autant que possible la production d’énergie grise (énergie polluante).
          </p>
          <p class="heading__desc" style="font-size: 13pt">
            Enfin ,des maisons écologiques favorisant l’économie d’énergie via des systèmes alternatifs de production d’énergie chauffante, ou encore un système de panneau solaire.
          </p>
          
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about__img">
            <img src="{{ asset('assets/images/about/2.jpg') }}" alt="about" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work-process pb-50">
    <div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about__img">
            <img src="{{ asset('assets/images/about/6.jpg') }}" alt="about" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading-layout2 mb-20">
            <h3 class="heading__title" style="color: aliceblue">
              GFI-CO SARL, UN LABEL BIOSOURCÉ
            </h3>
          </div>
          <p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
            Dans une construction durable et écologique, le choix de matériaux locaux et biosourcés est primordial. 
            Une double opportunité alliant enjeux environnementaux et coût amoindri. 
            C’est d’ailleurs l’une des motivations premières de GFI-CO SARL concernant l’utilisation de brique de 
            terre crue compressée stabilisée dite (BTC) pour ses réalisations. 
            L’enjeu étant une grande efficacité énergétique ainsi qu’une moindre empreinte environnementale des bâtiments.
          </p>
          <p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
            La BTC participe au développement durable bien qu’issue de l’utilisation de terre d’excavation ou de recyclage. 
            Sa plus grande force réside dans son faible impact environnemental.
          </p>
          <p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
            Assemblage de modernisme et de tradition, la BTC présente surtout l’avantage d’avoir une très bonne inertie thermique. 
            Tout en offrant des caractéristiques acoustiques et hydriques inégalées, outre ses qualités esthétiques arborées par sa bonne résistance aux intempéries.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}