{% extends 'layout-fr.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block content %}
	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">GFI-CO SARL</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<div
						class="heading text-center mb-40">
						{# <span class="heading__subtitle">The Best A Grade Commercial & Residential Services</span> #}
						<h2 class="heading__title">Présentation vidéo GFI-CO SARL</h2>
					</div>
					<!-- /.heading -->
				</div>
				<!-- /.col-lg-8 -->
			</div>
			<div class="row">
				<video loop="true" controls muted style="width: 60%;margin: 0% 20% -10% 20% !important;">
					<source src="{{ asset('assets/videos/gfi-presentation-fr.mp4') }}" type="video/mp4">
				</video>
			</div>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div1">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title">
							L'IMMOBILIER ÉCOLOGIQUE
						</h3>
					</div>
					<p class="heading__desc mb-30" style="font-size: 13pt">
						En conformité avec les normes environnementales et les standards de référence en la matière, GFI-CO SARL est une entreprise immobilière dont la spécificité réside dans la construction et la promotion de maisons écologiques.
					</p>
					<p class="heading__desc" style="font-size: 13pt">
						Elle est Fondée en 2020 à travers une expertise de professionnels du métier.  Entre autres des financiers, des architectes, des ingénieurs, des juristes, des aménageurs fonciers et des notaires.
					</p>

				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/3.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="work-process pb-50">
		<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/4.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div2">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title" style="color: aliceblue">
							LEITMOTIV
						</h3>
					</div>
					<p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
						Les enjeux sont majeurs. GFI-CO SARL entend s’imposer comme leader du secteur à travers des offres exceptionnelles en tant que créateur, promoteur et bâtisseur.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						L’optique étant de vous permettre d’être en équilibre dans votre cadre de vie grâce à des logements écologiques alliant esthétique, 
						            confort, durabilité, économie d’énergie, le tout par des budgets personnalisés. 
						            En termes d’investissement, GFI-CO SARL vous permet de rentabiliser sur le moyen et le long terme.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/14.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="about-layout2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div3">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title">
							L'ÉCO RESPONSABILITÉ
						</h3>
					</div>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						GFI-CO SARL vous propose un éco habitat aux normes tridimensionnelles.
					</p>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						Premièrement d’exceptionnels plans de conception et de conceptualisation par la construction de logements en parfaite symbiose avec le lieu d’implantation.
					</p>
					<p class="heading__desc mb-20" style="font-size: 13pt">
						Secondairement en prônant l’éco responsabilité par l’utilisation de matériaux non polluants. Évitant autant que possible la production d’énergie grise (énergie polluante).
					</p>
					<p class="heading__desc" style="font-size: 13pt">
						Enfin ,des maisons écologiques favorisant l’économie d’énergie via des systèmes alternatifs de production d’énergie chauffante, ou encore un système de panneau solaire.
					</p>

				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/2.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/4.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="work-process pb-50">
		<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/1.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div class="about__img">
						<img src="{{ asset('assets/images/about/6.jpg') }}" alt="about" class="img-fluid">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 hidden div4">
					<div class="heading-layout2 mb-20">
						<h3 class="heading__title" style="color: aliceblue">
							GFI-CO SARL, UN LABEL BIOSOURCÉ
						</h3>
					</div>
					<p class="heading__desc mb-30" style="font-size: 13pt; text-align: justify; color: white">
						Dans une construction durable et écologique, le choix de matériaux locaux et biosourcés est primordial. 
						            Une double opportunité alliant enjeux environnementaux et coût amoindri. 
						            C’est d’ailleurs l’une des motivations premières de GFI-CO SARL concernant l’utilisation de brique de 
						            terre crue compressée stabilisée dite (BTC) pour ses réalisations. 
						            L’enjeu étant une grande efficacité énergétique ainsi qu’une moindre empreinte environnementale des bâtiments.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						La BTC participe au développement durable bien qu’issue de l’utilisation de terre d’excavation ou de recyclage. 
						            Sa plus grande force réside dans son faible impact environnemental.
					</p>
					<p class="heading__desc" style="font-size: 13pt; text-align: justify; color: white">
						Assemblage de modernisme et de tradition, la BTC présente surtout l’avantage d’avoir une très bonne inertie thermique. 
						            Tout en offrant des caractéristiques acoustiques et hydriques inégalées, outre ses qualités esthétiques arborées par sa bonne résistance aux intempéries.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</section>

	<section class="team-layout1 text-center  pb-30">
	<div class="bg-img"><img src="{{ asset('assets/images/backgrounds/map.png') }}" alt="background"></div>
    <div class="container">
		<div class="heading-layout2 mb-20">
			<h3 class="heading__title">NOS COLLABORATEURS</h3>
		</div>
      <div class="row">
        <div class="col-md-12 text-center mb-30" style="font-size: 14pt"> 
          GFI-CO SARL bénéficie d’une efficacité professionnelle. Ce, grâce à la maestria d’une dynamique équipe à l’écoute du marché. Des professionnels du métier dont l’expertise repose sur des formations diverses. Un brassage de secteurs d’activités répondant aux besoins des clients.
        </div>
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4"> 
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/1.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="https://www.facebook.com/abdoulwahab.magassouba" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdoulwahabmagassouba/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Abdoul Wahab Magassouba</h5>
              <p class="member__desc">Manager Général & Fondateur</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/2.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mohammad Abou Diakité</h5>
              <p class="member__desc">Architecte / MAD Design</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #3 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/3.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Martin Fulgence Corréa</h5>
              <p class="member__desc">Recherche et Développement</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
      </div> <!-- /.row -->
	  <div class="row">
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/4.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Ephraïm Dolce</h5>
              <p class="member__desc">Directeur de la Communication</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/5a.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Kamara Podo</h5>
              <p class="member__desc">Ingénieur Bâtiment</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #3 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/6.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Yenin Fatou FOFANA epse MAGASS</h5>
              <p class="member__desc">Manager de l’agence immobilière</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #3 -->
      </div> <!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Team layout 1  -->
{% endblock %}

{% block script %}
	<script>
      $('.hidden p').hide();
      console.clear();

      function Utils() { } 
      
      Utils.prototype = { 
            constructor: Utils, 
            isElementInView: function (element, fullyInView) { 
                var pageTop = $(window).scrollTop(); 
                var pageBottom = pageTop + $(window).height(); 
                var elementTop = $(element).offset().top; 
                var elementBottom = elementTop + $(element).height(); 
                
                if(fullyInView === true) { 
                  return ((pageTop < elementTop) && (pageBottom > elementBottom)); 
                } 
                else { 
                  return ((elementTop <= pageBottom) && (elementBottom >= pageTop)); 
                } 
              } 
          }; 
      var Utils = new Utils();

      function isScrolledIntoView(elem) { 
        var docViewTop = $(window).scrollTop(); 
        var docViewBottom = docViewTop + $(window).height(); 
        var elemTop = $(elem).offset().top; 
        var elemBottom = elemTop + $(elem).height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop)); 
      }


      $(window).scroll(function () {
        var div1 = Utils.isElementInView($('.div1'), false); 
        var div2 = Utils.isElementInView($('.div2'), false); 
        var div3 = Utils.isElementInView($('.div3'), false); 
        var div4 = Utils.isElementInView($('.div4'), false); 

        if(div1) { $('.div1 p').fadeIn(2000);} 
        if(div2) { $('.div2 p').fadeIn(2000);} 
        if(div3) { $('.div3 p').fadeIn(2000);} 
        if(div4) { $('.div4 p').fadeIn(2000);} 
		
      });

	</script>
{% endblock %}
