{% extends 'layout-en.html.twig' %}

{% block title %}Team
{% endblock %}

{% block content %}
<!-- ========================
      Team layout 1
  ========================== -->
  <section class="team-layout1 text-center  pb-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-30" style="font-size: 14pt"> 
          GFI-CO SARL benefits from professional efficiency. This is thanks to the mastery of a dynamic team attentive to the market. Professionals in the trade whose expertise is based on various training courses. A mix of business sectors meeting customer needs.
        </div>
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4"> 
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/1.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="https://www.facebook.com/abdoulwahab.magassouba" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdoulwahabmagassouba/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Abdoul Wahab Magassouba</h5>
              <p class="member__desc">Founder and General Manager</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/2.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mohammad Abou Diakité</h5>
              <p class="member__desc">Architect Engineer</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
        <!-- Member #3 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/3.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Martin Fulgence Corréa</h5>
              <p class="member__desc">Search and Developement</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-4 -->
      </div> <!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Team layout 1  -->

  <!-- ========================
      Team layout 2
  ========================== -->
  <section class="team-layout2 text-center pt-0 pb-30">
    <div class="container">
      <div class="row">
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/4.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Ephraïm Dolce</h5>
              <p class="member__desc">Communication Director</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #2 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="member">
            <div class="member__img">
              <img src="{{ asset('assets/images/team/5.jpg') }}" alt="member img">
              <div class="member__hover">
                <div class="member__content-inner">
                  <ul class="social__icons  justify-content-center list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.member-content-inner -->
              </div><!-- /.member-hover -->
            </div><!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Elia Aka Jean Pierre</h5>
              <p class="member__desc">Building Engineer</p>
            </div><!-- /.member-info -->
          </div><!-- /.member -->
        </div><!-- /.col-lg-3 -->
        <!-- Member #3 -->
      </div> <!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Team layout 2  -->
{% endblock %}