{% extends 'layout-fr.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block content %}
	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/9.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">{{projet.title}}</h1>
				</div>
			</div>
		</div>
	</section>

	{% if projet.video != "" %}
		<section class="portfolio-single pt-30 pb-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="portfolio-item">
							<div class="video-banner text-center mb-20">
								<video src="{{ asset(projet.video) }}" controls autoplay="true" style="width: 75%"></video>
							</div>

						</div>
						<!-- /.portfolio-item  -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.portfolio single -->
	{% endif %}

	{% if projet.type == "concept" %}
		<section class="portfolio-gallery py-0">
			<div
				class="container">
				{# <h5 class="text__block-title mb-10">Esquisse</h5> #}

				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
						<div
							class="heading text-center mb-40">
							{# <span class="heading__subtitle">The Best A Grade Commercial & Residential Services</span> #}
							<h2 class="heading__title">
								Esquisse
							</h2>
						</div>
						<!-- /.heading -->
					</div>
					<!-- /.col-lg-8 -->
				</div>
				<div class="row">
					{% for s in sketch %}
						<!-- portfolio item #1 -->
						<div class="col-sm-6 col-md-6 offset-lg-1 col-lg-5">
							<div class="portfolio-item">
								<div class="portfolio-item__img">
									<a class="popup-gallery-item" href="{{ asset(s) }}">
										<img src="{{ asset(s) }}" alt="portfolio img">
									</a>
								</div>
								<!-- /.portfolio-img -->
							</div>
							<!-- /.portfolio-item -->
						</div>
						<!-- /.col-lg-4 -->
					{% endfor %}
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
	{% endif %}
  
	{% if projet.slug == "villa-the-pearl" or projet.slug == "villa-the-big-pearl" or projet.slug == "duplex-conakry" %}
		<section class="text-content pt-20 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-4 offset-lg-1">
						<div class="text__block">
							<h5 class="text__block-title mb-10">Description
								{{title}}</h5>
							<ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30">
								<li>
									<strong>Superficie de Terrain:</strong>
									<span>
										{{ projet.area.land }}</span>
								</li>
								<li>
									<strong>Superficie Batie au sol:</strong>
									<span>
										{{ projet.area.floor }}</span>
								</li>
							</ul>
							<h5 class="text__block-title mb-10">RDC</h5>
							<ul class="list-items list-unstyled mt-20">
								{% for r in rdc %}
									<li>{{r}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="text__block">
							<h5 class="text__block-title mb-10" style="visibility: hidden">villa THE PEARL</h5>
							<ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30" style="visibility: hidden">
								<li>
									<strong>Superficie de Terrain:</strong>
									<span>0 m²</span>
								</li>
								<li>
									<strong>Superficie Batie au sol:</strong>
									<span>7 m²</span>
								</li>
							</ul>
							<h5 class="text__block-title mb-10">R+1</h5>
							<ul class="list-items list-unstyled mt-20">
								{% for e in etage %}
									<li>{{e}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% if projet.slug == "duplex-conakry" %}
						<div class="col-sm-12 col-md-12 offset-lg-1 col-lg-4">
							<div class="text__block">
								<h5 class="text__block-title mb-10" style="visibility: hidden"></h5>
								<ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30" style="visibility: hidden">
									<li>
										<strong>Superficie de Terrain:</strong>
										<span>0 m²</span>
									</li>
								</ul>
								<h5 class="text__block-title mb-10">R+2</h5>
								<ul class="list-items list-unstyled mt-20">
									{% for e in etage2 %}
										<li>{{e}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.Text Content -->
	{% endif %}
	<br>
	<section class="portfolio-gallery py-0">
		<div class="container">
			<div class="row">
				{% for p in pictures %}
					<!-- portfolio item #1 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="portfolio-item">
							<div class="portfolio-item__img">
								<a class="popup-gallery-item" href="{{ asset(p) }}">
									<img src="{{ asset(p) }}" alt="portfolio img">
								</a>
							</div>
							<!-- /.portfolio-img -->
						</div>
						<!-- /.portfolio-item -->
					</div>
					<!-- /.col-lg-4 -->
				{% endfor %}
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>


	<a style="margin: 20% 10% !important;" href="{{ path('gfi-project-grid', { 'lang': 'fr' }) }}">
		<i class="icon-arrow-left1"></i>
		Retour
	</a>
{% endblock %}
