{% extends 'layout-fr.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block content %}
	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/9.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">{{projet.title}}</h1>
				</div>
			</div>
		</div>
	</section>

	{% if projet.video != "" %}
		<section class="portfolio-single pt-30 pb-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="portfolio-item">
							<div class="video-banner text-center mb-20">
								<video src="{{ asset(projet.video) }}" controls autoplay="true" style="width: 75%"></video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<section class="text-content pt-20 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
					<div class="text__block">
						<h5 class="text__block-title mb-10">{{projet.title}}</h5>
						<ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30">
                            {% if projet.area.land != "" %}
							<li>
								<strong>Superficie de Terrain:</strong>
								<span>{{ projet.area.land }}</span>
							</li>
                            {% endif %}
                            {% if projet.area.floor != "" %}
							<li>
								<strong>Superficie Batie au sol:</strong>
								<span>{{ projet.area.floor }}</span>
							</li>
                            {% endif %}
						</ul>

					</div>
				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
    <section class="portfolio-gallery py-0">
			<div class="container">
				{# <div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
						<div
							class="heading text-center mb-40">
							<h2 class="heading__title">
								Esquisse
							</h2>
						</div>
					</div>
				</div> #}
                {% if projet.specifications.rdc.text != "" or projet.specifications.etage.text != "" or projet.specifications.etage2.text != "" %}
				<div class="row offset-lg-1">
                    {% if projet.specifications.rdc.text != "" %}
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="portfolio-item">
							<div class="portfolio-item__img">
								<a class="popup-gallery-item" href="{{ asset(projet.specifications.rdc.sketch) }}">
									<img src="{{ asset(projet.specifications.rdc.sketch) }}" alt="portfolio img">
								</a>
							</div>
                            <h5 class="text__block-title mb-10">RDC</h5>
							<ul class="list-items list-unstyled mt-20">
								{% for r in rdc %}
									<li>{{r}}</li>
								{% endfor %}
							</ul>
							<!-- /.portfolio-img -->
						</div>
						<!-- /.portfolio-item -->
					</div>
                    {% endif %}
                    {% if projet.specifications.etage.text != "" %}
                    <div class="col-sm-6 col-md-6 col-lg-4">
						<div class="portfolio-item">
							<div class="portfolio-item__img">
								<a class="popup-gallery-item" href="{{ asset(projet.specifications.etage.sketch) }}">
									<img src="{{ asset(projet.specifications.etage.sketch) }}" alt="portfolio img">
								</a>
							</div>
                            <h5 class="text__block-title mb-10">R+1</h5>
							<ul class="list-items list-unstyled mt-20">
								{% for r in etage %}
									<li>{{r}}</li>
								{% endfor %}
							</ul>
							<!-- /.portfolio-img -->
						</div>
						<!-- /.portfolio-item -->
					</div>
                    {% endif %}
                    {% if projet.specifications.etage2.text != "" %}
                    <div class="col-sm-6 col-md-6 col-lg-4">
						<div class="portfolio-item">
							<div class="portfolio-item__img">
								<a class="popup-gallery-item" href="{{ asset(projet.specifications.etage2.sketch) }}">
									<img src="{{ asset(projet.specifications.etage2.sketch) }}" alt="portfolio img">
								</a>
							</div>
                            <h5 class="text__block-title mb-10">R+2</h5>
							<ul class="list-items list-unstyled mt-20">
								{% for r in etage2 %}
									<li>{{r}}</li>
								{% endfor %}
							</ul>
							<!-- /.portfolio-img -->
						</div>
						<!-- /.portfolio-item -->
					</div>
                    {% endif %}
				</div>
                {% endif %}
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
        
	<section class="portfolio-gallery py-0">
		<div class="container">
			<div class="row">
				{% for p in pictures %}
					<!-- portfolio item #1 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="portfolio-item">
							<div class="portfolio-item__img">
								<a class="popup-gallery-item" href="{{ asset(p) }}">
									<img src="{{ asset(p) }}" alt="portfolio img">
								</a>
							</div>
							<!-- /.portfolio-img -->
						</div>
						<!-- /.portfolio-item -->
					</div>
					<!-- /.col-lg-4 -->
				{% endfor %}
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>


	<a style="margin: 20% 10% !important;" href="{{ path('gfi-project-grid', { 'lang': 'fr' }) }}">
		<i class="icon-arrow-left1"></i>
		Retour
	</a>
{% endblock %}
