{% extends 'layout-en.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ asset('assets/images/page-titles/9.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <h1 class="pagetitle__heading">{{projet.title}}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-single pt-30 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="portfolio-item">
            <div class="video-banner text-center mb-20">
                <video src="{{ asset(projet.video) }}" controls autoplay="true" style="width: 75%"></video>
            </div>
            
          </div><!-- /.portfolio-item  -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.portfolio single -->

{% if projet.type == "concept" %}
  <section class="text-content pt-20 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
          <div class="text__block">
            <h5 class="text__block-title mb-10">{{title}} Description</h5>
            <ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30">
                <li><strong>Land area:</strong><span> {{ projet.area.land }}</span></li>
                <li><strong>Floor area:</strong><span> {{ projet.area.floor }}</span></li>
              </ul>
              <h5 class="text__block-title mb-10">RDC</h5>
              <ul class="list-items list-unstyled mt-20">
                {% for r in rdc %}
                <li>{{r}}</li>
                {% endfor %}
              </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <div class="text__block">
                <h5 class="text__block-title mb-10" style="visibility: hidden">villa THE PEARL</h5>
                <ul class="portfolio-item__meta-list list-unstyled mt-10 mb-30" style="visibility: hidden">
                    <li><strong>Superficie de Terrain:</strong><span>0 m²</span></li>
                    <li><strong>Superficie Batie au sol:</strong><span>7 m²</span></li>
                </ul>
              <h5 class="text__block-title mb-10">R+1</h5>
              <ul class="list-items list-unstyled mt-20">
                {% for e in etage %}
                    <li>{{e}}</li>
                {% endfor %}
              </ul>
          </div>
        </div>
        
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Text Content -->
{% endif %}

<section class="portfolio-gallery py-0">
    <div class="container">
      <div class="row">
      {% for p in pictures %}
        <!-- portfolio item #1 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <a class="popup-gallery-item" href="{{ asset(p) }}">
                <img src="{{ asset('assets/images/projets/pearl/1.jpg') }}" alt="portfolio img">
              </a>
            </div><!-- /.portfolio-img -->
          </div><!-- /.portfolio-item -->
        </div><!-- /.col-lg-4 -->
       {% endfor %}
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

{% endblock %}