<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>GFI-CO | Estimez votre projet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700%7cHeebo:400,500,700&display=swap">
  
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('assets-custom/global/css/fonts.googleapis.com.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->


    <link href="{{ asset('assets-custom/global/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/jquery-file-upload/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css') }}" rel="stylesheet"
        type="text/css" />


    <link href="{{ asset('assets-custom/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/ion.rangeslider/css/ion.rangeSlider.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-summernote/summernote.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/global/plugins/bootstrap-sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('assets-custom/global/css/components-md.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('assets-custom/global/css/plugins-md.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/apps/css/inbox.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- END THEME GLOBAL STYLES -->
    <link href="{{ asset('assets-custom/pages/css/faq.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/pages/css/profile.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('assets-custom/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets-custom/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('assets-custom/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('icon.ico') }}" />

    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>

</head>



<!-- END HEAD -->

<body class="page-container-bg-solid page-md">

    {% block content %}{% endblock %}

    <script src="{{ asset('assets-custom/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets-custom/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/vendor/load-image.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{{ asset('assets-custom/global/scripts/app.min.js') }}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="{{ asset('assets-custom/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-validation/js/localization/messages_fr.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-sweetalert/sweetalert.min.js') }}" type="text/javascript"></script>
    <!--<script src="{{ asset('assets-custom/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>-->
    <script src="{{ asset('assets-custom/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js') }}" type="text/javascript"></script>





    <script src="{{ asset('assets-custom/global/plugins/bootstrap-markdown/lib/markdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-summernote/summernote.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/pages/scripts/ui-blockui.min.js') }}" type="text/javascript"></script>






    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{{ asset('assets-custom/global/scripts/app.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/pages/scripts/cookie.min.js') }}" type="text/javascript"></script>
    <!--<script src="{{ asset('assets-custom/pages/scripts/profile.min.js') }}" type="text/javascript"></script>-->
    <!-- END THEME GLOBAL SCRIPTS -->
    <!--<script src="{{ asset('assets-custom/pages/scripts/components-ion-sliders.min.js') }}" type="text/javascript"></script>-->

    <script src="{{ asset('assets-custom/pages/scripts/ui-bootbox.min.js') }}" type="text/javascript"></script>


    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!--<script src="assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>-->
    <script src="{{ asset('assets-custom/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets-custom/global/plugins/bootstrap-sweetalert/sweetalert.min.js') }}" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
    $(document).ready(function() {
        //$('.preloader').delay(2000).hide();
        $('.preloader').hide();
    });
  </script>
</body>

</html>


<script src="{{ asset('assets-custom/pages/scripts/build.min.js') }}" type="text/javascript"></script>