{% extends 'layout-fr.html.twig' %}

{% block title %}ACD
{% endblock %}

{% block content %}

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/20.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">Comment obtenir l’ACD en Côte d’Ivoire ?</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="text-content text-justify pt-20 pb-30">
		<div class="container">
			<p>
				<br>
				<strong>L’Arrêté de Concession Définitive (ACD)
				</strong>est le seul et unique acte qui confère la propriété sur le domaine foncier urbain. Les règles d’acquisition de la propriété foncière des terrains urbains ont été fixées par l’<strong>Ordonnance n° 2013-481 du 2 juillet 2013</strong>. Ce texte précise les étapes et les acteurs qui interviennent dans toute la chaîne de production. En raison de l’apparente complexité du circuit et de la confusion née dans l’esprit des usagers quant au rôle de chaque intervenant institutionnel, votre magazine revient sur les étapes, les structures impliquées et la description de leurs tâches.
			</p>

			<p>
				Il est important de signaler que l’<strong>ACD</strong>
				est délivré dans l’espace urbain sur les terrains issus de lotissements approuvés ou non. Cependant, seul le Ministre chargé de la construction et de l’urbanisme est habilité à délivrer des
				<strong>ACD</strong>
				sur des parcelles situées en dehors de lotissements approuvés.
			</p>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
			<div class="heading mt-30 mb-20" id="terrains">
				<h5 class="text__block-title mb-5">Quelques définitions relatives à l'ACD</h5>
			</div>
			<!-- /.heading -->
		</div>
		<div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">

			<h6 class="mb-10">1- L’Attestation Domaniale</h6>
			<p>
				L’Attestation Domaniale n’est pas un acte délivré au demandeur d’<b>ACD</b>
				et ne confère pas la propriété. Elle est prise par le Directeur du Domaine Urbain dans le District d’Abidjan et à l’intérieur du pays par les Directeurs Régionaux. Elle est adressée au Conservateur de la Propriété Foncière et des Hypothèques et permet d’enclencher la procédure de création du Titre Foncier et d’indiquer le nom de la personne à qui l’Etat envisage de céder le terrain.
			</p>
			<h6 class="mb-10">2- L’Arrêté de Concession Définitive (ACD)</h6>

			<p>L’Arrêté de Concession Définitive est le seul et unique acte qui confère la propriété d’un
				<a href="https://www.wizodia.com/vente-de-terrains-avec-acd-en-cote-divoire/#terrainsci">terrain urbain</a>.
			</p>

			<h6 class="mb-10">3- Le Certificat de Mutation de la Propriété Foncière</h6>
			<p>
				La mutation de propriété de terrain ayant fait l’objet d’Arrêté de Concession Définitive ou d’un Certificat de Propriété Foncière, se fait exclusivement par acte authentique notarié et donne lieu à un Certificat de Mutation de la Propriété Foncière délivré par le Conservateur de la Propriété Foncière et des Hypothèques. Il est la preuve que les droits conférés par la mutation au profit de l’acquéreur sont inscrits dans le livre foncier.
			</p>

			<h6 class="mb-10">4- L’état foncier</h6>
			<p>
				L’état foncier donne les informations contenues dans le livre foncier et qui représentent les informations portant sur la vie juridique de la parcelle.
			</p>

			<h6 class="mb-10">5- L’état domanial</h6>
			<p>
				L’état domanial donne les informations contenues dans les registres domaniaux du Ministères en charge de la Construction et d’Urbanisme. Ces informations retracent la vie administrative de la parcelle
				<em>(les différents actes qui ont été délivrés)</em>.
			</p>
		</div>
	</section>
	<!-- /.row -->

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/page-titles/14.JPG') }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
            <a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
            </a>
          </div>
        </div>
      </div>
    </section>

	<section class="text-content text-justify pt-20 pb-30">
		<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
			<div
				class="heading mt-30 mb-20" id="terrains">
				<h5 class="text__block-title mb-5">Quels sont les acteurs pour obtenir l’ACD ?</h5>
			</div>
			<!-- /.heading -->
		</div>
		<div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
			<p><b>A- Pour les terrains issus de lotissements approuvés</b></p>
			<h6 class="mb-10">Acteur N°1 :</h6>
			<p><b>Le Guichet Unique du Foncier et de l’Habitat – GUFH – (MCLAU)</b></p>
			<p>
				Il réceptionne le dossier de demande d’<b>ACD</b>, procède à son enregistrement, le scanne, puis le transmet à la Direction du Domaine Urbain.
			</p>
			
			<h6 class="mb-10">Acteur N°2 :</h6>
			<p><b>La Direction du Domaine Urbain (DDU) – (MCLAU)</b></p>
			<p>
				La <b>DDU</b> intervient à plusieurs niveaux :
			</p>
			<p>
				1. Au niveau du traitement des actes, elle reçoit le dossier de demande d’<b>ACD</b> et procède à des vérifications techniques. Celles-ci visent à s’assurer que tous les éléments et pièces requis ne souffrent d’aucune irrégularité. Ensuite, elle vérifie si la parcelle sollicitée fait partie d’un lotissement régulièrement approuvé par arrêté du Ministre chargé de l’Urbanisme. Enfin elle consulte ses registres pour vérifier l’unicité d’acte (si la parcelle n’est pas attribuée à un tiers).
			</p>
			<p>
				A la suite de ces contrôles, la <b>DDU</b> prend l’attestation domaniale.
			</p>
			
			<p>
				La dernière étape de cette première phase, consiste à transmettre le dossier à la Conservation de la Propriété Foncière et des Hypothèques qui relève du Ministère en charge du Budget et du Portefeuille de l’Etat (MCBPE). Ce dossier comprend :
			</p>

			<ul class="list-items list-unstyled mt-20">
              <li>La correspondance de transmission du dossier ;</li>
              <li>L’attestation domaniale ;</li>
              <li>Le dossier technique ;</li>
              <li>Une copie de la carte d’identité du demandeur.</li>
          	</ul>

		  	<p>
				2. Après la création du titre foncier par le <b>MCBPE</b>, la <b>DDU</b> réceptionne le plan du Titre Foncier, prépare le projet d’<b>ACD</b> et le transmet au Cabinet du Ministre de la construction et de l’urbanisme pour signature ;
			</p>
			
		  	<p>
				3. Après la signature de l’acte, la <b>DDU</b> le transmet à la <b>Conservation de la Propriété Foncière et des Hypothèques</b> pour les formalités d’enregistrement et de publication au livre foncier ; elle adresse ensuite une correspondance au demandeur pour l’informer de la suite réservée à sa demande et des droits, frais, taxes et droits d’aliénation à payer ;
			</p>

			
		  	<p>
				4. Suite à l’enregistrement et à la publication de l’acte signé au livre foncier et au <b>Journal Officiel de la République de Côte d’Ivoire</b>, la <b>DDU</b> reçoit ledit acte de la <b>Conservation de la Propriété Foncière et des Hypothèques</b>, l’enregistre dans sa base de données, puis le transmet au <b>Guichet Unique du Foncier</b> pour être remis au demandeur ;
			</p>
		</div>
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/page-titles/' ~ devisUrl) }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
            <a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
            </a>
          </div>
        </div>
      </div>
    </section>

	<section class="text-content text-justify pt-40 pb-80">
		<div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
			<h6 class="mb-10">Acteur N°3 :</h6>
			<p><b>La Conservation Foncière (CF) – (MCBPE)</b></p>
			<p>
				La Conservation Foncière intervient à trois niveaux :
			</p>
			
			<p>
				1. Avant la création du Titre Foncier et après réception du dossier transmis par la Direction du Domaine Urbain, la Conservation Foncière (CF) s’assure que la parcelle sollicitée ne fait pas déjà l’objet d’un Titre Foncier et lui attribue un numéro au dossier (D.M.). Par la suite, elle transmet le dossier au cadastre (rattaché au MCBPE) puis, après retour du dossier du cadastre, crée le titre foncier.
			</p>

		  	<p>
				2. Après la signature de l’acte (ACD) qui confère une personnalité juridique et des droits sur la parcelle, la Conservation Foncière reçoit l’acte signé par le Ministre en charge de l’Urbanisme, procède à son enregistrement et à sa publication au livre foncier et au Journal Officiel puis, le retransmet (avec un état foncier) à la Direction du Domaine Urbain.
			</p>
			
		  	<p>
				3. En cas de cession ou de vente de l’immeuble (du terrain) par acte authentique de Notaire, la Conservation Foncière enregistre l’acte de cession du Notaire au livre foncier puis délivre le Certificat de Mutation de Propriété Foncière au nouvel acquéreur.
			</p>

			<h6 class="mb-10">Acteur N°4 :</h6>
			<p><b>Le Cadastre (MCBPE)</b></p>
			
		  	<p>
				Ce service a des tâches techniques qui consistent à :
			</p>

			<ul class="list-items list-unstyled mt-20">
              <li>Vérifier la parcelle sur la mappe cadastrale ;</li>
              <li>Positionner la parcelle sur le plan cadastral ;</li>
              <li>Procéder au bornage contradictoire de la parcelle ;</li>
              <li>Dresser un procès-verbal de bornage ;</li>
			  <li>Transmettre ledit procès-verbal à la Conservation de la Propriété Foncière et des Hypothèques pour la création du Titre Foncier.</li>
          	</ul>

			<p><b>B- Pour les terrains situés en dehors de lotissements approuvés</b></p>

			<p>
				La procédure est identique à celle des terrains issus de lotissements approuvés. Toutefois, avant la prise de l’Attention Domaniale, la Direction du Domaine Urbain sollicite l’expertise technique d’autres services et l’autorisation du Ministre en charge de l’Urbanisme.
			</p>
			
			<p>
				Ainsi, la Direction de la Topographie et de la Cartographie (DTC) – (MCLAU) est sollicitée pour déterminer et donner les limites exactes de la parcelle souhaitée, comparer les données figurant sur l’extrait topographique et celles sur le terrain et positionner la parcelle sur le plan. Les services de la Direction de l’Urbanisme sont requis pour positionner la parcelle par rapport au schéma ou plan directeur de la ville concernée et pour déterminer les servitudes liées au domaine public. Au plan de l’assainissement, la Direction de l’Assainissement et du Drainage (DAD) a pour tâches de vérifier si la parcelle demandée ne se trouve pas sur des servitudes d’assainissement et / ou de drainage ou encore si la parcelle ou ses environs ne sont pas des voies de passage d’eau.
			</p>

		  	<p>
				Les Mairies ou les sous-préfectures (selon que la parcelle est située dans une commune ou une sous-préfecture) ont pour rôle de diligenter des enquêtes publiques (enquêtes de commodo et incommodo), en vue de savoir si la parcelle en cause est revendiquée par un tiers.
			</p>
			
		  	<p>
				En définitive, après avoir recueilli les avis des différents services susmentionnés, le Directeur du Domaine Urbain prend l’Attestation Domaniale au profit du demandeur d’ACD et transmet le dossier au Conservateur de la Propriété Foncière et des Hypothèques pour le processus de création du Titre Foncier.
			</p>

			<p style="max-width: 300px !important;float: right">
				Article paru dans MCLAU, 2018<br>
				<b>Akessé Madjelia</b><br>
				<i>Directrice du Domaine Urbain</i>
			</p>
		</div>
	</section>


	{% endblock %}
