{% extends 'layout-fr.html.twig' %}

{% block title %}Prestations
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ asset('assets/images/page-titles/7.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <h1 class="pagetitle__heading">Nos différentes prestations</h1>
        </div>
      </div>
    </div>
  </section>
      
  <section class="services-layout1 pb-90 bg-gray">
    <div class="bg-img"><img src="{{ asset('assets/images/backgrounds/map.png') }}" alt="background"></div>
    <div class="container">
      
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Service varié, adapté à vos attentes</h4>
              <p class="service-item__desc">
                La sécurisation du foncier urbain constitue l'une des priorités de la politique de développement de GFI-CO SARL.
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/6.jpg')}}" alt="service" class="w-100">
            </div><!-- /.service-item__img -->
          </div><!-- /.service-item -->
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Service <br> clé en main</h4>
              <p class="service-item__desc">
                S’engager à construire son logement est une décision qui ne doit pas altérer votre qualité de vie. 
                GFI-CO vous propose un service clé en main.  
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/5.jpg') }}" alt="service" class="w-100">
            </div><!-- /.service-item__img -->
          </div><!-- /.service-item -->
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Service <br> prêt à décorer</h4>
              <p class="service-item__desc">
                Dans le but de pousser encore plus loin la satisfaction clientèle, GFI-CO vous propose un service prêt à décorer afin de personnaliser ...
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/4.jpg') }}" alt="service" class="w-100">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Architecture <br> d'Intérieur</h4>
              <p class="service-item__desc">
                Nos réalisations se veulent une réponse créative, spécifique, personnalisée et innovante en adéquation avec votre existentiel.
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/3.jpg') }}" alt="service" class="w-100">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Rafraichissement <br>  & Rénovation</h4>
              <p class="service-item__desc">
                GFI-CO SARL propose également l’ensemble des services en rafraichissement et en rénovation immobilière...
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>Read more</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/1.jpg') }}" alt="service" class="w-100">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="service-item">
            <div class="service-item__content">
              <h4 class="service-item__title">Gestion Immobilière <br> (Vente / Location)</h4>
              <p class="service-item__desc">
                Dans le but de pousser encore plus loin la satisfaction clientèle, GFI-CO vous propose un service prêt à décorer afin de personnaliser ...
              </p>
              <a href="#" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right1"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.service-content -->
            <div class="service-item__img">
              <img src="{{ asset('assets/images/services/2.jpg') }}" alt="service" class="w-100">
            </div><!-- /.service-item__img -->
          </div><!-- /.service-item -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Services Layout 1 -->
{% endblock %}