{% extends 'layout-fr.html.twig' %}

{% block title %}Prestations
{% endblock %}

{% block fwizard %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/FormWizard/css/montserrat-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/FormWizard/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/FormWizard/css/style.css') }}" />
	<script nonce="2304403d-7264-43c7-a58d-47ce13a71237">(function (w, d) { !function (a, e, t, r) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = { deferred: [] }, a.zaraz.track = (e, t) => { for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key] }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => { a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r]) }, a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0]; n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), z.defer = !0, z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);
    </script>
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
	<div class="bg-img"><img src="{{ asset('assets/images/page-titles/7.jpg') }}" alt="background"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
				<h1 class="pagetitle__heading">{{prestation.title}}</h1>
			</div>
		</div>
	</div>
</section>

<section class="text-content-section pb-90">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-4">
				<aside class="sidebar mb-30">
					<div class="widget widget-categories">
						<h5 class="widget__title">Services</h5>
						<div class="widget-content">
							<ul class="list-unstyled">
								{% for a in aside %}
									<li>
										{% if a.id == id %}
											<a href="#" class="active">{{a.title}}</a>
										{% else %}
											<a href="{{ path('gfi-prestations-info', { 'lang': 'fr', 'id': a.id,'slug': a.slug }) }}" class="#">{{a.title}}</a>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
						<!-- /.widget-content -->
					</div>
					<!-- /.widget-categories -->

					<div class="widget widget-download">
						<h5 class="widget__title">Téléchargement</h5>
						<div class="widget-body">
							<a href="{{ asset('assets/pdf/plaquette_gfi-co_fr.pdf') }}" title="plaquette GFI-CO" class="btn btn__primary btn__block">
								<span>Notre Brochure</span>
								<img src="{{ asset('assets/images/icons/pdf.png') }}" alt="pdf">
							</a>
						</div>
						<!-- /.widget-content -->
					</div>
					<!-- /.widget-download -->
				</aside>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-8">
				<div class="portfolio-grid-layout2">
					<div class="row">
						<div class="video-banner mb-50">
							<img src="{{ asset(prestation.image) }}" alt="">
						</div>
					</div>
				</div>

				<!-- /.portfolio-grid-layout2 -->
				<div class="text__block mb-30">
					{% for c in content %}
						{% if prestation.id == 6 %}
							<ul class="list-items list-unstyled mb-20 mt-20">
								<li>{{c.ul}}</li>
							</ul>

							<p class="text__block-desc" style="font-size: 13pt; text-align: justify">
								{{c.text}}
							</p>
						{% else %}
							<p class="text__block-desc" style="font-size: 13pt; text-align: justify">
								{{c|raw}}
							</p>
						{% endif %}
					{% endfor %}
				</div>


			</div>
			<!-- /.col-lg-8 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.Text Content Section -->

{% if prestation.id == 1 %}

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">Offres de Terrains sécurisés</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="text-content pt-20 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
					<div
						class="heading mt-30 mb-20">
						{# <h2 class="heading__title"> Offres de Terrains sécurisés</h2> #}
						<h5 class="text__block-title mb-5">Nos différentes démarches qui vous rassurent</h5>
					</div>
					<!-- /.heading -->
				</div>
			</div>

			<div class="d-flex justify-content-between flex-wrap align-items-center" style="width: 100%">
				<div class="row">
					<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
						<h6 class="">
							<i class="fas fa-file-pdf" style="font-size: 40px"></i>&nbsp;&nbsp;VÉRIFICATION ADMINISTRATIVE</h6>
						<p class="text-justify">
							Nous contrôlons l’ensemble des documents du terrain par un cabinet de notaire, ainsi que la pleine propriété du cédant
							<b>AVANT</b>
							de le mettre à disposition de notre clientèle.
						</p>
						<a href="#terrains" class="mb-30 text-warning">
							<span>Voir les offres de terrains</span>
						</a>
					</div>

					<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
						<h6 class="">
							<i class="fas fa-lock" style="font-size: 40px"></i>&nbsp;TRANSACTION NOTARIÉE</h6>
						<p>
							L’acquisition de votre bien immobilier s’effectue devant notaire pour un maximum de garantie.
						</p>
						{# <a href="#" class="mb-30 text-warning">
							<span>Avis clients</span>
						</a> #}
					</div>
				</div>

				<div class="row">
					<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
						<h6 class="">
							<i class="fas fa-map" style="font-size: 40px"></i>&nbsp;VISITE SUR SITE</h6>
						<p>
							En plus de vous fournir les informations complètes sur le site, nous organisons une
							<b>visite gratuite</b>, pour vous ou un de vos contacts sur place.
						</p>
						{# <a href="#" class="mb-30 text-warning">
							<span>Demandez une recherche</span>
						</a> #}
					</div>

					<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
						<h6 class="">
							<i class="fas fa-file-signature" style="font-size: 40px"></i>&nbsp;FORMALITÉS ADMINISTRATIVES</h6>
						<p>
							Nous prenons en charge l’ensemble des formalités administratives d’immatriculation ou de transfert de
							<b>propriété à votre nom</b>. Fini les tracasseries et les terrains sans documents !
						</p>
						{# <a href="#" class="mb-30 text-warning">
							<span>Questions fréquentes</span>
						</a> #}
					</div>

				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<section class="text-content pt-20 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
					<div
						class="heading mt-30 mb-20" >
						{# <h2 class="heading__title"> Offres de Terrains sécurisés</h2> #}
						<h5 class="text__block-title mb-5">Nos offres de terrains</h5>
					</div>
					<!-- /.heading -->
				</div>
				<div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1" id="terrains">
					<p class="text-muted">La mise à jour du tableau ci-dessous se fera en fonction de nos offres</p>
					<table class="table table-blue">
						<thead class="thead-blue" style="background: #000">
							<tr>
								<th scope="col">LOCALISATION</th>
								<th scope="col">SURFACE</th>
								<th scope="col">PRIX</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">ASSINIE Mohamé</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">zone à fort potentiel</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>6.500.000 F CFA</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">ASSOUINDE - Route d'Assinie</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">Idéal Investissement moyen terme</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>11.500.000 F CFA</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">JACQUEVILLE - Mambé Eiminkoa
										</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">Emplacement stratégique</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>6.500.000 F CFA</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">JACQUEVILLE - Avagou</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">A 500 m de la voie principale</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>4.500.000 F CFA</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">BINGERVILLE ADJIN Palmeraie</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">Zone résidentielle</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>24.900.000 F CFA</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="">
										<span class="font-weight-bold">BINGERVILLE ANAN Gbontchui</span>
										<a href="#" class="mb-30 text-info">
											<span>détails</span>
										</a><br>
										<span class="text-muted">Bordure Lagunaire</span>
									</p>
								</td>
								<td>
									<br>
									<p>500 m²</p>
								</td>
								<td>
									<br>
									<p>17.500.000 F CFA</p>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/21.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">Recevez une offre sur mesure
					</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="contact-layout1 py-0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="contact-panel d-flex justify-content-around">
						<form class="contact-panel__form" method="POST" action="#">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group"><input type="text" class="form-control" placeholder="Nom" id="name" name="contact-name" required></div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group"><input type="text" class="form-control" placeholder="Prénoms" id="pname" name="contact-pname" required></div>
								</div>

								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group"><input type="email" class="form-control" placeholder="Email" id="email" name="contact-email" required></div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group"><input type="text" class="form-control" placeholder="Téléphone" id="phone" name="contact-phone" required></div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<select class="form-control" id="objet" name="objet">
											<option value="">Pays du projet</option>
											<option value="civ">Côte d'Ivoire</option>
											<option value="bf">Burkina Faso</option>
											<option value="ml">Mali</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="Votre demande" id="message" name="contact-messgae" required></textarea>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12">
									<input type="submit" name="envoyer" value="Envoyer" style="" class="btn btn__secondary btn__block">
									<div id="info"></div>
								</div>
							</div>
						</form>

						<div class="contact-panel__banner d-flex align-items slick-carousel" 
							 style="position: relative;left: 30px;"
							 data-slick='{"slidesToShow": 1, "autoplay": true, "slidesToScroll": 1, "arrows": false, "dots": false}'>
							 
								<div class="feature-item" style="padding-right: 0px !important;">
									<div class="bg-img">
										<img src="{{ asset('assets/images/contact/16.jpg') }}" 
											 alt="banner">
									</div>
									<div class="contact-panel__banner__inner">
										<h4 class="contact-panel__banner__title">Comment obtenir l'ACD en Côte d'Ivoire ?</h4>
										<p class="contact-panel__banner__desc text-justify">
											L’Arrêté de Concession Définitive (ACD) est le seul et unique acte qui confère la propriété sur le domaine foncier urbain. Les règles d’acquisition de la propriété foncière des terrains urbains ont été fixées par l’Ordonnance n° 2013-481 du 2 juillet 2013.
										</p>
										
										<div class="form-group mb-0">
											<a href="{{ path('gfi-more_acd', { 'lang': 'fr' }) }}" class="btn btn__secondary">En savoir plus</a>
										</div>
									</div> 
								</div>

								<div class="feature-item" style="padding-right: 0px !important;">
									<div class="bg-img">
										<img src="{{ asset('assets/images/contact/14.jpg') }}" 
											 alt="banner">
									</div>
									<div class="contact-panel__banner__inner">
										<h4 class="contact-panel__banner__title">Les informations indispensables pour acheter votre terrain</h4>
										<p class="contact-panel__banner__desc text-justify">
											Interview de Maître Maître Géraldine AGBEMEBIA Acheter un terrain au Togo relève souvent d’un parcours à haut risque lorsqu’on ne sait pas s’y prendre. Notre experte Notaire nous dévoile les clés pour un achat réussi ! 
										</p>
										
										<div class="form-group mb-0">
											<a href="{{ path('gfi-more_terrain', { 'lang': 'fr' }) }}" class="btn btn__secondary">En savoir plus</a>
										</div>
									</div> 
								</div>
								

								<div class="feature-item" style="padding-right: 0px !important;">
									<div class="bg-img">
										<img src="{{ asset('assets/images/contact/20.jpg') }}" 
											 alt="banner">
									</div>
									<div class="contact-panel__banner__inner">
										<h4 class="contact-panel__banner__title">Tout ce qu'il faut savoir sur le titre foncier</h4>
										<p class="contact-panel__banner__desc text-justify">
											Maître AGBEMEBIA exerce la profession de notaire depuis janvier 2006. Son cabinet se situe à Lomé au 461, Av. Nicolas Grunitzky. Son cabinet de 5 collaborateurs se charge de l’immatriculation des immeubles et du titre foncier des terrains

										</p>
										
										<div class="form-group mb-0">
											<a href="{{ path('gfi-more_titre_foncier', { 'lang': 'fr' }) }}" class="btn btn__secondary">En savoir plus</a>
										</div>
									</div> 
								</div>
						</div>


						<!-- /.contact-panel__banner -->
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if prestation.id == 2 %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
	<div class="bg-img"><img src="{{ asset('assets/images/page-titles/12.jpg') }}" alt="background"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
				<h1 class="pagetitle__heading">La clé d’un projet immobilier innovant et fiable</h1>
			</div>
		</div>
	</div></section>
<section class="text-content pt-20 pb-30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
				<div
					class="heading mt-30 mb-20">
					{# <h2 class="heading__title"> Offres de Terrains sécurisés</h2> #}
					<h5 class="text__block-title mb-5">Votre Service de A à Z en toute sérénité</h5>
				</div>
				<!-- /.heading -->
			</div>
		</div>

		<div class="d-flex justify-content-between flex-wrap align-items-center" style="width: 100%">


			<div class="row">
				<div class="service-border" style="width: 45%;margin: 2%">
					<h6 class="">Achat de terrains sécurisés</h6>
					<p class="text-justify">
						Nous vous proposons des sites et terrains approuvés et avec ACD. Une assistance technique de la première étape jusqu’à la signature de votre contrat d’achat.
					</p>
					<a href="{{ path('gfi-prestations-info', { 'lang': 'fr', 'id': 1,'slug': 'service-varie-adapte-a-vos-attentes' }) }}#terrains" class="mb-30 text-warning">
						<span>Voir les offres de terrains</span>
					</a>
				</div>

				<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
					<h6 class="">
						<i class="fas fa-stars"></i>Plan d’Architecture & Etudes Techniques et Devis (estimatif/quantitatif)
					</h6>
					<p>
						<b>Nos Partenaires reconnus et fiables</b>
					</p>
					<p>
						Nos architectes, notaires et professionnels sélectionnés pour leur sérieux et leurs excellentes références… travaillent pour répondre à toutes vos attentes
					</p>
					{# <a href="#" class="mb-30 text-warning">
						<span>Voir les projets de construction</span>
					</a> #}
				</div>
			</div>

			<div class="row">

				<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
					<h6 class="">Constrution</h6>
					<p>
						Grace à la maestria d’une équipe dynamique et professionnelle, nous vous aidons à bâtir tous vos projets immobiliers.
					</p>
					<p>
						<b>Engagé À Livrer Des Projets De Construction De Haute Qualité Et À Innover Dans La Conception !</b>
					</p>
					<p>
						Ceux qui embrassent le changement prospèrent, construisant des produits plus grands, meilleurs, plus rapides et plus forts que jamais. Vous aidez à mener la charge ; nous pouvons vous aider à bâtir sur votre passé et à préparer votre avenir.
					</p>
					<p>
						<ul class="list-items list-unstyled mt-20">
							<li>Système de contrôle de la qualité</li>
							<li>Une finition inégalée</li>
							<li>Garantie de satisfaction à 100%</li>
							<li>Processus de test précis</li>
							<li>Personnel hautement professionnel</li>
							<li>Professionnel et qualifié</li>
						</ul>
					</p>
				</div>

				<div class="service-border" style="border: 0px solid black;width: 45%;margin: 2%">
					<h6 class="">Suivi de votre projet</h6>
					<p>
						Nous mettons à votre disposition un dispositif de suivi à distance de votre chantier quelque soit votre lieu de résidence.
					</p>
					<p>
						Notre équipe sur place vous permet à travers les différentes étapes du projet, l’accès aux photos et vidéos directement dans votre espace personnel.
					</p>
					{# <a href="#" class="mb-30 text-warning">
						<span>Questions fréquentes</span>
					</a> #}
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
<!-- /.container -->
</section>
{# <section class="page-title page-title-layout1 bg-overlay bg-parallax">
	<div class="bg-img">
		<img src="{{ asset('assets/images/page-titles/19.jpg') }}" alt="background">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
				<h1 class="pagetitle__heading"></h1>
			</div>
		</div>
	</div>
</section> #}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
		<div class="bg-img"><img src="{{ asset('assets/images/page-titles/15.jpg') }}" alt="background"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
					<h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
					<a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
						<i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	
{% endif %}
{% endblock %}


{% block sfwizard %}
    <script src="{{ asset('assets/FormWizard/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/FormWizard/js/jquery.steps.js') }}"></script>
    <script src="{{ asset('assets/FormWizard/js/main.js') }}"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
{% endblock %}